[2019-09-30 10:06] BowlingX opened #1 "Create Example Project / Usage"
Create a Mono repo of:

- Frontend Project
- Admin Project
- Postgraphile Backend

The Project should have a simple Use Case (e.g. a Blog).

Features:
- Authentication

[2019-09-30 10:07] BowlingX opened #2 "Expose Enums"
To make usage of enums easier in react-admin. We should provide a hook to query those.

[2019-09-30 10:09] BowlingX opened #3 "Provide Wrapper with configured Apollo client"
Provide a `<PostgraphileAdapter url="http://backend..." />` component to bootstrap the project easier.

[2019-10-02 10:47] BowlingX opened #4 "EnumType / [EnumType] is not properly expanded"
Enum types are not selected currently in a type.

[2019-10-02 11:42] #4 closed

[2019-10-02 11:42] BowlingX commented on #4
:tada: This issue has been resolved in version 1.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ra-postgraphile)
- [GitHub release](https://github.com/BowlingX/ra-postgraphile/releases/tag/v1.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-04 07:26] shnads opened #7 "Using BigInt for postgres IDs"
Awesome data provider, seems to be working as advertised so far.

I have created an edit view now in RA and my DB schema uses BigInt IDs, but the query that's sent when I open the edit view is sending the ID as Int!?

Do I need to do something here to let the dataprovider know my IDs are BigInt?

[2020-01-05 10:24] BowlingX commented on #7
Hi :) thank you for your feedback.
This use case is currently not covered and the data type for the single get request is currently a hardcoded Int!. I will adapt the ID type dedection here and pass the propper type.

[2020-01-06 13:08] #7 closed

[2020-01-06 13:10] BowlingX commented on #7
:tada: This issue has been resolved in version 2.0.6 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ra-postgraphile)
- [GitHub release](https://github.com/BowlingX/ra-postgraphile/releases/tag/v2.0.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-11 01:03] shnads opened #8 "Add BigInt support to filters"
Hello again!
The fix for BigInt support when fetching records is working great.

Is it possible to add BigInt to the switch in filters.ts? Currently I get 'Filter for type BigInt not implemented.' when I attempt to filter by a BigInt column.

[2020-01-11 01:06] shnads commented on #8
As an aside, is there a downside to using BigInt? My research suggested there's no performance or size penalty with a BigInt primary key, and for the sake of future proofing I chose to go with BigInt, but I'm now regretting that choice a little..

[2020-01-11 10:45] benjie commented on #8
Bigint is a fine choice for PK.

[2020-01-16 10:32] BowlingX commented on #8
I will have a look :)

[2020-01-16 10:45] #8 closed

[2020-01-16 10:48] BowlingX commented on #8
:tada: This issue has been resolved in version 2.0.7 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ra-postgraphile)
- [GitHub release](https://github.com/BowlingX/ra-postgraphile/releases/tag/v2.0.7)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-16 11:31] shnads commented on #8
Thanks legends, effort completely appreciated! The combination of postgraphile + react admin is top notch.

[2020-01-21 13:44] christiaanwesterbeek opened #10 "Ability to use alternative filter operators"
I'm transitioning from a custom dataprovider based on ra-data-graphql-simple to ra-postgraphile. A couple of my Lists have filters that need to query a field case insensitively. Also, I'd like to use some of the other filter operations that are laid out here.. https://github.com/graphile-contrib/postgraphile-plugin-connection-filter#string

Currently ra-postgraphile uses `like ... or equalTo ...`

[2020-01-21 14:17] BowlingX commented on #10
I like the `name@filter` solution :). Feel free to create a pull request. I could imagine we need to create a mapper and implement the filters for all the different operators.

[2020-01-21 16:58] christiaanwesterbeek commented on #10
I've been browsing through all of the dataProviders listed here and found [one](https://github.com/FusionWorks/react-admin-nestjsx-crud-dataprovider/blob/a5614a8d510da07661fc84be586e1b35d0b88cee/example/admin-ui/src/Users/index.js#L20-L29) other that uses the same technique

[code]

Both of these solutions leverage the `source` attribute of the input to formulate the filter operator. Other datapro

[2020-01-21 23:00] BowlingX commented on #10
Thank you for the proposal :) I like the idea because it's "typesafe" and will propably less error prone :). Feel free to start a pull request :).

[2020-03-13 04:32] hjr3 opened #13 "README shows npm install but preinstall requires yarn"
Hi,

The README hints that one can use npm to install this package, but the [preinstall](https://github.com/BowlingX/ra-postgraphile/blob/353e6cfac642b8c70d97882b493e86469effe9c5/package.json#L8) script throws an error if I am not using yarn. Should this package allow npm installations?

I worked around this for the moment with `npm i ra-postgraphile --ignore-scripts`.

[2020-03-15 17:53] BowlingX commented on #13
hi :) thank you for the report. I will remove the check, as it's only required for development.

[2020-03-15 17:59] #13 closed

[2020-03-15 18:02] BowlingX commented on #13
:tada: This issue has been resolved in version 2.0.10 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ra-postgraphile)
- [GitHub release](https://github.com/BowlingX/ra-postgraphile/releases/tag/v2.0.10)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-16 19:49] hjr3 commented on #10
I hacked a poc of this together and it is working out well for me. @christiaanwesterbeek if you want help with the PR, please let me know.

[2020-03-16 19:54] hjr3 opened #15 "Unable to pass options to buildGraphQLProvider"
I want to pass the [introspection](https://github.com/marmelab/react-admin/tree/master/packages/ra-data-graphql#introspection-options) option to `buildGraphQLProvider` but [src/factory.ts](https://github.com/BowlingX/ra-postgraphile/blob/dde1f403e120924c07b11d809b6738b458563dc0/src/factory.ts#L6) does not expose a way to send arbitrary options to `buildGraphQLProvider`.

I have a fork where I solv

[2020-03-16 22:17] BowlingX commented on #15
Hi :) Thank you for reporting this!
I think the interface you posted works well (with the additional introspection parameter).

I don't see other parameters currently that would make sense. But instead we could also create another options parameter that passes everything to the underlying `buildGraphQLProvider` method, what do you think?

e.g.

[code]

Thank you

[2020-03-16 22:20] hjr3 commented on #15
I like it!

Let me work on it and send up a PR. I will create a `GraphqlProviderOptions` type and make `introspection` have a more narrow type than any.

[2020-03-20 11:02] #15 closed

[2020-03-20 19:40] BowlingX commented on #15
:tada: This issue has been resolved in version 2.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ra-postgraphile)
- [GitHub release](https://github.com/BowlingX/ra-postgraphile/releases/tag/v2.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-23 16:18] BowlingX opened #18 "Multi delete of UUID columns is not working"
It's currently not possible to "mass" delete data types with UUID, as the ID is not properly escaped:

[code]

[2020-04-23 16:33] #18 closed

[2020-04-23 16:36] BowlingX commented on #18
:tada: This issue has been resolved in version 3.0.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ra-postgraphile/v/3.0.3)
- [GitHub release](https://github.com/BowlingX/ra-postgraphile/releases/tag/v3.0.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-10 19:09] stephane-klein commented on #1
I created this example project https://github.com/stephane-klein/react-admin-and-postgraphile-playground based on https://github.com/BowlingX/ra-postgraphile

[2020-05-10 19:54] BowlingX commented on #1
Thank you very much :).

[2020-05-25 07:38] christiaanwesterbeek commented on #10
@hjr3 I'm ready to contribute to the PR. Can I commit to your [fork](https://github.com/hjr3/ra-postgraphile/tree/filters)?

[2020-05-29 06:00] tr11 commented on #10
@hj3, I'm also interested in contributing to the PR. Namely, I'd like to add support for the `postgraphile-plugin-fulltext-filter` plugin, which creates a `matches` filter for `tsvector` types.

[2020-05-29 08:03] christiaanwesterbeek commented on #10
@hjr3 I've committed my contribution to a fork on this work and just created a PR that you can merge in.

[2020-05-29 09:42] BowlingX commented on #10
If you require anything let me know. I'm a bit busy with other projects but happy to help reviewing.

[2020-06-14 20:27] braco opened #20 "Support other basic filter types?"
Hi, I'm just evaluating postgraphile and react-admin for the first time and ran into an issue trying to get a boolean filter setup:

`<BooleanInput source="deleted" defaultValue={false} />`

I'm expecting that to produce this in the query:
`condition: {deleted: false}`

but it throws this error: `Error: Filter for type Boolean not implemented.` from https://github.com/BowlingX/ra-postgraphile/blob

[2020-06-14 20:34] braco opened #21 "Error: The dataProvider threw an error. It should return a rejected Promise instead."
Getting this full page, fatal error when issues like #20 arise:

`Error: The dataProvider threw an error. It should return a rejected Promise instead.`

Is this by design? I'm setting up like so:
[code]

[2020-06-15 07:01] christiaanwesterbeek commented on #21
I just checked the source code of react-admin. I think the error message (and cause) is logged in your console. See the console.error line.

https://github.com/marmelab/react-admin/blob/aeda86582e6ac1ea37f29739a8f08743694616c9/packages/ra-core/src/dataProvider/useDataProvider.ts#L470-L475

[2020-06-16 07:33] praseetha-nair opened #22 "How to fetch function response using ra-postgraphile in react admin?"
Hi,

I have a created a function as follows,

      getOkrDcm(input: {asset: 4}) {
    results {
      assetId
      id
      keyResult
      objectiveName
    }
    clientMutationId
  }
}

How can I show the results in react admin page using ra-postgraphile dataprovider?

[2020-06-16 16:02] christiaanwesterbeek opened #23 "Support for filtering on columns"
A postgres view or table might have a bytea column. Or there might be a [computed column](https://www.graphile.org/postgraphile/computed-columns/) on that table that calls a function to convert the bytea column to a data url (just as an example, but a real one in my case).

Using  a `GET_LIST` on that view or table is going to be slow, really slow.

What I'd like to achieve is to pass to the dataP

[2020-06-26 02:54] affluent-bilby-classifieds opened #24 "RFI: Possible to use 2 different databases?"
Hello,

I have forked Stephane-klein's example to the following:
https://github.com/affluent-bilby-classifieds/react-admin-and-postgraphile-playground

I have been making changes to suit the needs of my project which is to allow a burger restaurant to edit their menu from a dashboard.
I have extended the contacts database and have added instructions to import a menu from json into a jsonb field in

[2020-07-02 07:52] affluent-bilby-classifieds commented on #21
Hi braco,
I had a similar problem but I don't know if the root cause different to your issue.
Did you get something in the console like the following?:
` index.js:1 Warning: Failed prop type: The prop `children` is marked as required in `ForwardRef(Link)`, but its value is `null``

I posted my issue to [Stackoverflow](https://stackoverflow.com/questions/62657963/react-admin-the-dataprovider-threw-

[2020-07-05 12:06] affluent-bilby-classifieds commented on #21
Also have you guys seen this?
I would be keen to see how it compares to this project.

https://gist.github.com/hendrikniemann/83648da05161a36e84c0ee4ab61ad605

[2020-07-09 04:30] UnniKrishnaPanicker opened #27 "Intercept the error api response"
I am using ra-postgraphile as dataprovider for react-admin project and i need to intercept the error api response. Is there any error object or function available for that? if yes, Can I get a documentation.

[2020-07-10 15:33] BowlingX commented on #27
Hi :) This would be the responsibility of the underlying implementation. apollo-graphql is used internally. Depending where you require the error handling, you could do it for example with a custom error link. See here: https://github.com/marmelab/react-admin/tree/master/packages/ra-data-graphql#options how to setup or customize your apollo client.

[2020-07-10 15:38] BowlingX commented on #23
Hi :) This makes absolute sense, I could add support to query only certain fields for certain types.

[2020-07-10 15:44] BowlingX commented on #21
Hi :). In your case, it seems like the id is missing for your relation. We definitely can improve error messages and handling.

[2020-07-10 15:48] BowlingX commented on #22
Hi :) sorry for the late reply. I would require a bit more information what you want to achieve. In general, you can call any custom mutations in custom components that you use in react-admin, and you can display tabular data from views or functions as well.

[2020-07-10 15:49] BowlingX commented on #20
Hi :). Indeed filtering is a topic that is not fully implemented yet. But I will add boolean filters :).

[2020-07-10 15:49] UnniKrishnaPanicker commented on #27
Thank you for your response,
I have tried [apollo-link-error](https://www.npmjs.com/package/apollo-link-error) dependency for intercepting error api response and that worked for me.

[2020-07-10 15:49] #27 closed

[2020-07-10 15:59] #20 closed

[2020-07-10 16:02] BowlingX commented on #20
:tada: This issue has been resolved in version 3.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ra-postgraphile/v/3.1.0)
- [GitHub release](https://github.com/BowlingX/ra-postgraphile/releases/tag/v3.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-11 19:46] saerdnaer opened #29 "Add support for `nodeId` keys"
Right now when using types where the primary key is not named `id` (e.g. `guid`, or `slug`) one runs into following error:
https://github.com/BowlingX/ra-postgraphile/blob/bf77e9c0e2af9262e38199bd42e859c1c2414bdc/src/buildQuery.ts#L73-L82

How much needs to be changed, so the code falls back to the `nodeId` field for these cases?
c.f. https://www.graphile.org/postgraphile/node-id/

[2020-07-12 20:04] BowlingX commented on #29
Hi :) quite a few things actually. It would probably also only work for queries, as patches etc. require the id.
At least for listing views etc. this would make sense of course and useful. It goes a bit in hand with #23, which should allow to be able to filter certain fields as they might be expensive to query.

What I could add is make types configurable for what fields are queried and then addit

[2020-07-13 11:33] BowlingX commented on #21
Related to #29

[2020-07-13 11:39] affluent-bilby-classifieds commented on #29
This is hey they handle it in [ra-data-hasura](https://github.com/hasura/ra-data-hasura)

##Different Primary Keys

Sometimes the table you are querying might have a primary key other than id. react-admin enforces id to be returned in the response by the DataProvider. But you can configure a different primary key column for specific tables using the config object as below:

[code]

[2020-07-15 01:18] braco commented on #10
What are your thoughts on this?
https://github.com/lovelysystems/ra-data-postgraphile
It looks like a lot of this stuff is already implemented there.

[2020-07-15 09:27] BowlingX commented on #10
Cool :). Yeah, seems like a lot of use cases are covered there. I have a bit of time this week, so I will work on a few things.

[2020-07-15 17:01] BowlingX opened #30 "Better test setup"
We should have a better test setup that can generate the schema against a test database schema and postgraphile

[2020-07-17 15:17] BowlingX commented on #30
:tada: This issue has been resolved in version 3.2.0-beta.1 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/ra-postgraphile/v/3.2.0-beta.1)
- [GitHub release](https://github.com/BowlingX/ra-postgraphile/releases/tag/v3.2.0-beta.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-17 15:17] BowlingX commented on #29
:tada: This issue has been resolved in version 3.2.0-beta.1 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/ra-postgraphile/v/3.2.0-beta.1)
- [GitHub release](https://github.com/BowlingX/ra-postgraphile/releases/tag/v3.2.0-beta.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-18 03:15] braco commented on #1
Regarding documentation/examples, one common pattern I haven't figured out is if there's a more efficient way to represent nested properties / join queries like this:

Postgraphile query:
[code]

`userResources` is a join table between user and resource. You would imagine the admin table would be `resource.name | userResource.added` under the user. It seems like react-admin encourages use of `<Ref

[2020-07-18 12:47] BowlingX commented on #1
Yes, that's the concept of react-admin, because it comes from a more REST centric idea. Currently, we do not expose entities like that, if we detect an object we do not expand it automatically. You can change this behaviour by specifying the Type at `queryValueToInputValueMap`. (See https://github.com/BowlingX/ra-postgraphile#configuration). As this is currently quite limiting, I want to add a bet

[2020-07-19 01:51] braco opened #33 "[Request] Support Datetime filters"
Encountering this:

`Error: Filter for type Datetime not implemented.`

Trying to implement specific date filtering and ranges.

See also #10

[2020-07-19 20:08] stephane-klein opened #34 "Document how to configure authProvider with ra-postgraphile"
Document how to configure [authProvider](https://marmelab.com/react-admin/Authentication.html) with `ra-postgraphile`.

[2020-07-21 07:29] BowlingX commented on #34
The library does not make any assumptions on how security is implemented. You can provide custom authentication through apollo links and middleware. If you require a JWT token you can add for example custom headers after successful authentication.

[2020-07-21 10:45] #29 closed

[2020-07-21 10:45] #30 closed

[2020-07-21 10:49] BowlingX commented on #29
:tada: This issue has been resolved in version 3.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ra-postgraphile/v/3.2.0)
- [GitHub release](https://github.com/BowlingX/ra-postgraphile/releases/tag/v3.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-21 10:49] BowlingX commented on #30
:tada: This issue has been resolved in version 3.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ra-postgraphile/v/3.2.0)
- [GitHub release](https://github.com/BowlingX/ra-postgraphile/releases/tag/v3.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-21 11:54] BowlingX commented on #21
I will close this issue for now. The related bug has been fixed.

[2020-07-21 11:54] #21 closed

[2020-07-21 11:58] BowlingX commented on #24
This is more a generic question. Managing the underlying postgraphile instance is out of the scope of this project. You technically can have multiple database `schemas` supported with postgraphile. See here: https://www.graphile.org/postgraphile/usage-library/#api-postgraphilepgconfig-schemaname-options (`schemaName`).

[2020-07-21 11:58] #24 closed

[2020-07-22 04:57] UnniKrishnaPanicker opened #37 "How to use stored function for RA mutation."
We have tried out this using useMutation and useDataProvider as suggested in RA documentation.

[code]
But getting following error.
[code]

[2020-07-22 08:06] BowlingX commented on #37
Hi :) Thank you for your report.
Could you provide the signature of the function? We probably don't support this case yet.

Thank you

[2020-07-22 10:18] UnniKrishnaPanicker commented on #37
Hi,
Thank you for your response.
Here I'm adding signature of the function.

[code]

Thank you

[2020-07-23 17:38] BowlingX commented on #37
I think we won't support custom mutations, as this is already covered by using apollo directly. I don't see the benefit of adding it to the data provider. The data provider's general Idea is to support general types and work on those. You can call your custom mutation with `useMutation` as described here: https://www.apollographql.com/docs/react/data/mutations/#usemutation-api

We will add though

[2020-07-23 17:53] BowlingX commented on #30
:tada: This issue has been resolved in version 3.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ra-postgraphile/v/3.3.0)
- [GitHub release](https://github.com/BowlingX/ra-postgraphile/releases/tag/v3.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-23 17:53] BowlingX commented on #29
:tada: This issue has been resolved in version 3.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ra-postgraphile/v/3.3.0)
- [GitHub release](https://github.com/BowlingX/ra-postgraphile/releases/tag/v3.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-24 11:35] UnniKrishnaPanicker commented on #37
Thank you for considering adding additional mappings,
We are expected to have a type that support for calling stored function.
In mean time we'll check custom mutation from apollo.

Thanks again.

[2020-07-24 12:34] BowlingX commented on #23
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [GitHub release](https://github.com/BowlingX/ra-postgraphile/releases/tag/v4.0.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ra-postgraphile/v/4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-08-31 14:18] #34 closed

[2020-08-31 14:18] #37 closed

[2020-08-31 14:18] #22 closed

[2020-08-31 14:32] mattsears18 opened #41 "Support for sort and filter?"
I'm trying to decide on a backend for a new admin portal app and my decision will be largely influenced by which one is easiest to integrate with react-admin. I'm open to using firestore or appsync if one of those proves to be easier to integrate with react-admin, but I already have data in a Postgres database, so I'm also considering postgraphile or postgrest.

[This firestore data provider](http

[2020-09-02 10:12] BowlingX commented on #41
Hi :)
Thank you for considering this project.

Sorting (no known limitations) and filtering is supported, although filters are currently a bit limited and not all data types are supported (supported currently text, exact and fuzzy matches, and boolean filters. A pull request to implement more types and custom filtering is currently open https://github.com/BowlingX/ra-postgraphile/pull/17 and work

[2020-09-02 10:35] BowlingX commented on #41
You can see an example schema that we use in our tests here: https://github.com/BowlingX/ra-postgraphile/blob/master/migrations/committed/000001.sql

[2020-09-08 10:45] #41 closed

[2020-09-21 09:27] christiaanwesterbeek commented on #23
Thanks for including this in the release. I tried it and what I understand is that we can add includeFields or excludeFields as part of options that can be supplied to the main method that creates the dataProvider. Here's my complete custom hook that returns my dataProvider.

[code]

I thinks this means that the fields are included or excluded for every request on that resource. Is that correct?

[2020-09-21 09:36] BowlingX commented on #23
Hi :),

you can currently either provide an array or a function for `excludeFields`. I can add a second argument to the function of what operation was used. This would let you implement custom logic to it and exclude them only in cases that makes sense for you :)

[2020-09-21 09:51] BowlingX commented on #23
I also like passing an additional __options for the filters, I will consider it as an additional idea. I will for now add the second argument to the function.

[2020-09-21 09:56] christiaanwesterbeek commented on #23
I suppose that would work too. Either as a second argument or let the first object be an object, in case more arguments may be needed in the future.

[2020-09-21 10:01] #23 closed

[2020-09-21 10:02] BowlingX commented on #23
I added it as a second argument, to prevent breaking changes.

[2020-09-21 10:07] BowlingX commented on #23
:tada: This issue has been resolved in version 4.1.0 :tada:

The release is available on:
- [GitHub release](https://github.com/BowlingX/ra-postgraphile/releases/tag/v4.1.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ra-postgraphile/v/4.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-23 12:25] jonArzelus commented on #2
Hi, I recently have been struggling to make this work and I found a workaround for simple string based enums. The thing is that we define all our enum types as ```('aa','bb'....)``` all named as ```'XXXchoices'```, this way we can identify them easily. With a quick check in the filters.js file we check if the ```normalizedName``` ends with ```'choices'``` and we treat them as they where strings bu

[2020-11-22 11:10] BowlingX commented on #33
Fixed by #17

[2020-11-22 11:10] #33 closed

[2020-11-22 11:11] BowlingX commented on #10
Fixed by #17

[2020-11-22 11:11] #10 closed

[2020-11-25 13:03] mabilbao opened #48 "nodeId and id are different fields"
Hi! ✋  I am using Postgraphile for a project and I need to make a simple admin with a couple of CRUDs, so I decided to use react-admin and this library to wrap the data provider. When I try to list the first table I am getting this error:
[code]

so, when I check the query I see that it is trying to redefine the field `id` but I already have my primary key with the same name:
[code]

My table:
[co

[2020-12-02 17:40] BowlingX commented on #48
Hi :), sorry for the late reply.
This looks like a bug, I will have a look.

[2020-12-02 18:02] BowlingX commented on #48
I can't reproduce the error on the `e2e` tests. It looks like somehow it does not detect your id type. Can you provide the introspection result? See here for the test: https://github.com/BowlingX/ra-postgraphile/blob/master/migrations/committed/000002.sql#L12

[2021-02-23 08:25] edtsech opened #51 "Question: Does ra-postgraphile support ReferenceField?"
Sorry, struggling to make it work.

[2021-02-27 20:28] BowlingX commented on #51
Hi :), yes it's totally supported.

Example:

[code]

It's important that you declare your Resource, even if you don't use it (for list, create, update etc.)

Example:

[code]

[2021-03-06 12:16] edtsech commented on #51
Thank you!

[2021-03-06 12:16] #51 closed

[2021-04-01 04:04] pyramation commented on #1
thanks for the awesome project!

this would be great to have even the most basic example, even if it doesn't have any authentication. I'm trying to get a simple Graphile project hooked up, and am getting "something went wrong" and don't really know where to start to look.

Any example would be super for this project!

[2021-05-06 06:21] pyramation opened #55 "`FileInput` and GraphQL uploads"
we're having issues trying to get graphql uploads to work. Anyone been able to get them to work?

It seems that under the hood, the native `FileInput` sticks a `rawFile` property on the object and the graphql server dislikes this.

![116942982-85988780-ac27-11eb-930a-1934fde6cd8b](https://user-images.githubusercontent.com/545047/117250722-803e6700-adf8-11eb-86e5-e740be3016ae.png)
![116942991-88937

[2021-05-06 06:30] pyramation commented on #55
Currently I'm thinking we may have to create copies of `FileInput` and `ImageInput`, and adapt it somehow.

I also had done some googling and found [this](https://stackoverflow.com/questions/53901921/how-to-upload-image-in-react-admin-graphql) which relied on custom data provider, and since I'm using ra-postgraphile, I figured that would bring me here ;)

[2021-05-07 05:00] pyramation opened #56 "primaryKeys limited to names `id` only"
is requiring an `id` field a limitation of ra-postgraphile or react-admin?

from the looks of https://github.com/BowlingX/ra-postgraphile/blob/master/src/buildQuery.ts#L123 it seems that there could be the possibility to add primary keys that are compound primary keys or not named `id` is possible.

I'm opening this as I may have some solutions for this, but wanted to ask first.

NOTE: We don't us

[2021-05-07 05:13] pyramation commented on #55
one solution found was to transform things, but this has to be done for each field, independently:

[code]

[2021-05-07 12:08] BowlingX commented on #56
Hi :). If the id field is not available, it will use the generated `nodeId` field. So the only requirement is to have a primary key.

[2021-05-08 06:35] pyramation commented on #55
Thanks @BowlingX ! I think you are right that the best option is to write custom components, will likely do that and report back to share with the community.

[2021-05-08 06:42] pyramation commented on #56
Thanks for the reply! Makes sense. My current solution was to remove my compound primary keys, replace them with unique keys, and just stick an id on there - works!

I'll probably read the code here some more and see if there could be a way to hash compound primary keys to generate a client id.

[2021-05-17 12:36] #55 closed

[2021-05-17 12:36] #56 closed

[2021-05-23 08:23] pyramation opened #60 "updates set all fields"
I'm using column grants for updates, and cannot set all props that can be selected.  I noticed that during updates, the `patch` field automatically gets all of the values, instead of only the changed values. Would there be a simple way to detect which fields have actually changed before patching?

[2021-06-03 15:59] BowlingX commented on #60
Sorry for the late reply. If some fields should not be updated, you could possibly remove them based on your logic within `queryValueToInputValue` see https://github.com/BowlingX/ra-postgraphile#typeconfig-options.

[2021-06-04 01:54] pyramation commented on #60
ok great, thanks for the response! Will check this out, cheers!

[2021-06-15 22:45] pyramation opened #62 "geometry (geojson) fields are missing from queries and mutations"
I've been working  `geometry` fields using the `postgis` extension

It seems that these special fields are missing from queries/mutations, for example this was a generated mutation, which is missing `location`

[code]

Ideally, it would also have in this case, a `location` field that happens to be a postgis type:

[code]

or all together:

[code]

From my experience, all geometry fields are differ

[2021-06-15 22:54] pyramation opened #63 "interval fields are missing from queries and mutations"
I've been working with interval fields, and noticed that they are missing from queries and mutations.

I'm guessing that this is related to https://github.com/BowlingX/ra-postgraphile/issues/62 and can be solved similarly.

Suggested fix is to generate a generic query for all `interval` fields

[code]

I'm imagining we can find a place in the code where we can look at the non-scalar fields. Is the

[2021-06-15 23:00] pyramation commented on #63
I took a look, perhaps this is the area of interest? https://github.com/BowlingX/ra-postgraphile/blob/master/src/utils.ts#L204-L224

Perhaps this is the place to start looking for special types and return a predefined object (e.g., ` { geojson }` or `{ seconds ... years }`)

[2021-06-16 14:45] christiaanwesterbeek commented on #37
Hmm, this is unfortunate. I've used postgrest for years that [has support](https://postgrest.org/en/stable/api.html#stored-procedures) for custom mutations (using resources like `rpc/<my-function-name>` in RA). So, I hoped to find the feature here as well, but instead saw:

[2021-06-16 15:09] BowlingX commented on #62
Hi :),

This can be solved with https://github.com/BowlingX/ra-postgraphile#typeconfig-options, see here for the buildins: https://github.com/BowlingX/ra-postgraphile/blob/master/src/defaultTypeConfig.ts. I explicitly did no add all of the possible types, because configuration might vary across the schemas.

You can pass additional configuration of types you want to expand in the `config` argument

[2021-06-16 15:10] BowlingX commented on #63
This is related to #62 and can be solved the same way.

[2021-06-17 22:12] pyramation commented on #62
Thanks! I think this would be a great example to have for the community, so I've put together a repo that is fully self contained. Would you mind helping me get the correct syntax? It's a bit hard to know exactly how to leverage these options.

If you can help, I will provide examples for locations and intervals, and also continue to add examples for folks that are learning this framework.

The in

[2021-06-17 22:17] pyramation commented on #63
I've created a repo to help others learn this through example, I know for me, docs and examples can together provide a lot of context. Here is the repo if you want to try running my example use-case: https://github.com/pyramation/ra-postgraphile-examples

Can you check the syntax, I read the solution you mentioned here: https://github.com/BowlingX/ra-postgraphile/issues/62 but I'm not sure exactly

[2021-06-17 22:32] pyramation commented on #63
just for reference, to create a location in the example would look like so:

[code]

[2021-06-17 22:41] BowlingX commented on #63
Hi :) thank you so much; It's already past midnight here, so I will have a deeper look tomorrow.

At first sight, you have to use the `expand` keyword like shown in the tests here:
https://github.com/BowlingX/ra-postgraphile/blob/master/src/__tests__/e2e/dataProvider.typeConfig.spec.tsx#L12

I have not tried that with mutations though yet, for this to work you might need to use `queryValueToInputV

[2021-06-18 21:29] pyramation commented on #63
This sounds great! I think `interval` is a super simple one to start with, and we can expand from that example.

So definitely both queries and mutations aren't happening. If we can demonstrate how to create a custom query/mutation for a new type, I believe all the possible types can be easily added.

Additionally, we have a few components that my team is building and we'll be totally happy to ope

[2021-06-30 22:59] pyramation commented on #63
ok, I updated the example. Super simple for now: https://github.com/pyramation/ra-postgraphile-examples/commit/aede061cdf9a2d314f2f8f7010d1306957c33c0f

Figured just start with `expand: true`

[code]

The generated query so far was still missing `timeRequired` field

[code]

Maybe I missed something?

[2021-06-30 23:12] BowlingX commented on #63
I am not sure if the type `Interval` is actually correct here. You have to check what type your field is actually of. You get the type with `__typename`. I just used it as example.

[2021-07-01 03:10] pyramation commented on #63
Thanks @BowlingX :)

To verify, in the graphiql explorer I ran a basic query

[code]

with this result:

[code]

Then in the docs I found this:

## `Event`

![Screen Shot 2021-06-30 at 8 06 32 PM](https://user-images.githubusercontent.com/545047/124058875-0d5c0180-d9df-11eb-956c-0939a9961f73.png)

## `Interval`

![Screen Shot 2021-06-30 at 8 06 38 PM](https://user-images.githubusercontent.com/5450

[2021-07-01 14:42] BowlingX commented on #63
I checked the example repository; The reason why it does not work is because it uses an old version (v3) of `ra-postgraphile`, you have to upgrade to the latest version (v4) to make this configuration work. I tested it with the latest version and the `timeRequired` is queried.

![image](https://user-images.githubusercontent.com/215671/124143336-55386280-da8b-11eb-8cb1-19894d1c2b9c.png)

I would re

[2021-07-01 22:05] pyramation commented on #63
Oh wow! Simple fix I totally apologize! That was great and queries are working great.

I'll try out mutations asap and report back 👍🏻

[2021-07-02 20:15] pyramation commented on #63
Everything seems to work well, except when mutations involve updates. It somehow is including `__typename` into the JSON. (even if I completely remove the field that contains an interval).

To reproduce,

1. create a record in react-admin
2. update the record in the database manually to have `time_required = '1 minute'` or some interval
3. refresh page
4. edit record that has the interval (whether

[2021-07-02 20:47] braco opened #66 "Invalid tag name "^2|^3": Tags may not have any characters that encodeURIComponent encodes."
[code]

[code]

https://github.com/BowlingX/ra-postgraphile/blob/master/package.json#L172-L173

Fixed for now by:
`❯ npm install --legacy-peer-deps`

[2021-07-02 20:58] pyramation opened #68 "some types do not have `ofType` which causes thrown errors"
some types for one reason or another do not have an `ofType` property. For example, the native postgres `interval` type:

[code]

This is also the case of `GeometryPoint`, and others.

The fix is to use `fieldType.type.name` in the scenario where `fieldType.type.ofType` is null. Additionally, using optional-chaining to avoid referencing properties on null objects https://github.com/BowlingX/ra-pos

[2021-07-02 21:10] pyramation commented on #63
UPDATE: I've fixed the mutation issue with a PR: https://github.com/BowlingX/ra-postgraphile/pull/67

[2021-07-03 13:04] #68 closed

[2021-07-03 13:10] BowlingX commented on #68
:tada: This issue has been resolved in version 4.4.2 :tada:

The release is available on:
- [GitHub release](https://github.com/BowlingX/ra-postgraphile/releases/tag/v4.4.2)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ra-postgraphile/v/4.4.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-03 14:00] BowlingX commented on #63
Thank you :) I merged the PR.

[2021-07-04 19:32] #66 closed

[2021-07-04 19:37] BowlingX commented on #66
:tada: This issue has been resolved in version 4.4.3 :tada:

The release is available on:
- [GitHub release](https://github.com/BowlingX/ra-postgraphile/releases/tag/v4.4.3)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ra-postgraphile/v/4.4.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-05 12:46] #63 closed

[2021-07-05 12:47] BowlingX commented on #62
I think this can be closed as it's related to #63

[2021-07-05 12:47] #62 closed

[2021-08-04 17:49] #60 closed

[2021-08-04 18:01] #48 closed

[2021-08-11 11:47] K-Markopoulos opened #71 "Delete by nodeId doesn't work"
I have a relation table that doesn't have an `id` column and I'm trying to delete a record by `nodeId` with custom mutation. I get the following error:

Seems like that `Delete${resourceTypename}Input` doesn't match with the input of `${deleteResourceName}` as the latter includes the `ByNodeId`. Also, the variables object for this mutation (`input: { id }`) is incompatible with `DeleteByNodeId` wh

[2021-09-11 13:39] BowlingX commented on #71
Hi :) sorry for the late reply. This is indeed a bug; It actually affects more queries. I will Push a fix and add tests for this case. Thank you!

[2021-09-12 00:21] BowlingX commented on #71
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on:
- [GitHub release](https://github.com/BowlingX/ra-postgraphile/releases/tag/v5.0.0)
- [npm package (@next dist-tag)](https://www.npmjs.com/package/ra-postgraphile/v/5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-12 00:24] BowlingX commented on #71
I reworked the non-id primary key logic and removed `nodeId` from the current implementation; Instead I alias the pimary key name to create a consistent behaviour for all queries. I released it under the next tag in npm; Please try it out if it works for your usecase.

[2021-09-16 09:56] BowlingX commented on #71
Yes, indeed that might be a problem; I will check if I can implement something for this case; Not all features are supported then, but at least fetch one update etc should work.

[2021-10-01 01:42] BowlingX commented on #71
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on:
- [GitHub release](https://github.com/BowlingX/ra-postgraphile/releases/tag/v5.0.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ra-postgraphile/v/5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-26 01:47] braco opened #77 "TypeError: Cannot read properties of undefined (reading 'options')"
Getting this error:
`TypeError: Cannot read properties of undefined (reading 'options')`

From this line:
https://github.com/BowlingX/ra-postgraphile/blob/19034fc1df8eb0f5b5244db9e7c1bcc71486c6c0/src/buildQuery.ts#L84

Seems fixed by downgrading `ra-data-graphql` to:
[code]

[2021-11-01 05:03] kamiyo opened #78 "Pluralize overriding"
My postgresql automatically pluralizes by adding 's', even to words that don't pluralize that way, e.g. "musics"

Using `pluralize` in your query builder breaks distinguishing between getList and getOne (because Postgraphile generates "music" and "musics" for single vs list query. Thus, when I try to use a React-Admin resource named "musics", it tries to call the query for "music" and fails becaus

[2021-11-03 12:58] BowlingX commented on #78
Hi :).
In general you have to specify your resources as the singular name; In your case:

[code]

Customization in the future might make sense, I will check how that could be implemented.

[2021-11-03 21:40] kamiyo commented on #78
Yes I understand that, because it goes through some transformations in the
code. The thing is, "Music" never gets pluralized to "Musics", because it's
in the irregular rules exception (looking through the Pluralize library).
But, postgraphile actually generates "Musics" as the list query, so I'm not
ever able to get it to call the right Graphql query.

If you want to table this, it's ok. I'm actua

[2021-11-03 22:57] #78 closed

[2021-11-03 23:00] #77 closed

[2021-11-03 23:04] BowlingX commented on #77
:tada: This issue has been resolved in version 6.0.0 :tada:

The release is available on:
- [GitHub release](https://github.com/BowlingX/ra-postgraphile/releases/tag/v6.0.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ra-postgraphile/v/6.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-03 23:04] BowlingX commented on #78
:tada: This issue has been resolved in version 6.0.0 :tada:

The release is available on:
- [GitHub release](https://github.com/BowlingX/ra-postgraphile/releases/tag/v6.0.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ra-postgraphile/v/6.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-03 23:07] BowlingX commented on #78
You can now provide a `pluralize` function, I hope this can help in your usecase.

[2021-11-03 23:52] kevinmamaqi opened #79 "How to have Reference Fields?"
Is it possible to have <ReferenceField> component as in the react-admin docs: https://marmelab.com/react-admin/Fields.html#reference-fields? - If so how can it be added?

[2021-11-04 02:05] kamiyo commented on #78
Sweet, thanks for the quick update! I'll give it a go.

[2021-11-04 08:02] kevinmamaqi commented on #79
[code]

[2021-11-04 08:02] #79 closed

[2022-01-14 05:39] pyramation opened #80 "Handle uncaught errors and display notification"
I'm curious, how are you handling uncaught errors?

I've been getting one particular bug that leads me to the `mutate` call inside of a graphql call, a bit low level and for some reason doesn't get caught and displayed.

Is there a way to update the data provider to catch errors and display them in the react-admin notifications?

While I would believe the data provider should likely handle this, I

[2022-01-23 16:11] BowlingX commented on #80
Hey :),
sorry for the late reply.

As you create the apollo client in the react root application, you could technically pass a callback and do custom client side notifications. As those are just using the standard material-ui notification components, you could use them to show a custom error notification or handle a login for example.

For authentication though I actually wrap the `Root` applicati

[2022-03-09 20:36] pyramation opened #85 "case insensitive search"
I'm using search/filter a bit and seems that by default it's all case-sensitive... is it a simple switch or does this require a PR?

[2022-03-10 00:42] pyramation opened #86 "some nested properties are not getting property generated in queries"
Integrating the postgis stuff, everything works well except `GeometryCollection`, which apparently has a nested property

For a given property `bounds`, the admin is generating this query:

[code]

but the `geometries` is actually another nested object and the correct format should be

[code]

Here is my config
[code]

Is there a way for me to manually override that to fix it? I only need `geojson

[2022-03-10 19:29] pyramation commented on #80
I think the issue is that some of the errors aren't getting caught in the right place for the app.

For me authentication is an easy redirect we can handle, but other simple errors are causing issues. For example, if you make a unique constraint on a postgres table, and try to insert a record that would create an error on the unique index, the ra-postgraphile and react-admin just throw an error in

[2022-03-13 23:11] BowlingX commented on #85
You can use the `filterToQuery` prop, see https://marmelab.com/react-admin/Inputs.html#usage-11.

[code]
If you have the filter plugin enabled (https://github.com/graphile-contrib/postgraphile-plugin-connection-filter), you can specify the search operator in `operator`.

[2022-03-13 23:13] BowlingX commented on #86
Thank you; I will look into that!

[2022-03-14 10:11] c0h1b4 opened #88 "I can't get the project to run - build error"
Hi, I'm trying to use the ra-postgraphile but as soon as I add the extension and import it, I get a lot of errors.

Steps to reproduce:

1. I create a fresh react-admin project:

[code]

Then I change the App.js to the following code:
[code]

As soon as I add the "import pgDataProvider from "ra-postgraphile" all hell breaks loose and I get a lot of these build errors:

[code]

I'm really lost here

[2022-03-31 08:31] BowlingX commented on #88
Hello,

sorry for the late reply. Your must also add the peerDependency `ra-data-graphql`. I will update the documentation.
Regarding the `mjs` errors, the version of graphql you are using might not support `ESM` modules, but I can't tell without seeing the whole project configuration.

[2022-05-03 15:08] drewwestphal opened #93 "Value "ID_ASC" does not exist in enum (on alternate primary key name column)"
Consider a super simple table with a text primary key, e.g.

`CREATE TABLE IF NOT EXISTS p2.venue
(
    venue_name text COLLATE pg_catalog."default" NOT NULL,
    venue_operator text COLLATE pg_catalog."default" NOT NULL,
    CONSTRAINT venue_pkey PRIMARY KEY (venue_name)
)
`

Upon trying to view this table with a ListGuesser component, at least, I get the following error:

`Variable "$orderBy" go

[2022-05-05 12:39] BowlingX commented on #93
Hey :) that's interesting, I did not try the guesser components, but I assume they require a single `id` field?. I will look into that.

[2022-05-15 07:17] friday opened #96 "Please document how to override filter operators"
In #10 and #17 there are some posts of suggested syntax to use such as `source="name@eq"` or `source="firstname||starts"` or `<TextInput source="name" {...includesInsensitive} />`, but I don't think you actually implemented anything like that?

In case it's not possible I made this wrapper that implements it with the `@` character as in #10. It would be easy to add in the actual ra-postgraphile co

[2022-05-16 20:38] drewwestphal commented on #93
I can update on this. This error also occurs with the standard <List> component if the sort prop is not filled out. I think it just expects a column named `id` no matter what.

The solution, for now, is to set the `sort` prop on `List` to a column that does exist.

E.g. (expanding on the above) `<List>` becomes `<List sort={field: "venueId", order: "ASC"}>`

[2022-05-16 21:51] BowlingX commented on #96
Hi, thank you for reporting this;
The documentation was indeed missing; I adjusted the documentation here: https://github.com/BowlingX/ra-postgraphile#custom-filters.

Let me know if this is sufficient for your case.

[2022-05-16 22:50] BowlingX commented on #96
:tada: This issue has been resolved in version 6.1.0 :tada:

The release is available on:
- [GitHub release](https://github.com/BowlingX/ra-postgraphile/releases/tag/v6.1.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ra-postgraphile/v/6.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-05-17 17:32] friday commented on #96
Thank you @BowlingX :+1: That was very fast, and a thorough job documenting :)

The code needed to override a filter is a bit on the verbose side for me personally, but probably justifiably so if you want stricter type checking or nested filters.

I tried it and it worked for me with my first filter case:

[code]

[code]

However, this sets the filter to `{filterName: FilterSpec}` instead of `{fil

[2022-05-18 16:28] BowlingX commented on #96
Thank you for testing :). I did not test the library with version `4` yet, so maybe there are some adjustments required. I will have a look into that.

[2022-05-18 16:29] BowlingX opened #97 "Filters do not work in ReferenceInputs (react-admin v4)"
see #96

Thank you @BowlingX :+1: That was very fast, and a thorough job documenting :)

The code needed to override a filter is a bit on the verbose side for me personally, but probably justifiably so if you want stricter type checking or nested filters.

I tried it and it worked for me with my first filter case:

[code]

[code]

However, this sets the filter to `{filterName: FilterSpec}` instead

[2022-05-18 16:29] #96 closed

[2022-06-20 04:13] zenflow opened #101 "Feature request: Update only changed fields"
In UPDATE requests, we should ideally not include fields that are unchanged. Besides being unnecessary, it can cause issues:

1. Conflicts can happen when different users edit different fields of same record at same time. In this scenario, one user's changes will get undone. Similarly, if an automatic process (e.g. e-commerce checkout) updates a field (e.g. `inventoryCount`) while a user is editin

[2022-06-20 06:38] zenflow commented on #101
@BowlingX Are you open to a PR to implement this feature request?

I think this could be done by
1. Implement `getChangedData(updateParams: UpdateParams)`
2. Change this line:
https://github.com/BowlingX/ra-postgraphile/blob/34b70f122dae7c4b7c212735af6b6455eff79a8d/src/buildQuery.ts#L367
to `getChangedData(updateParams)`

`getChangedData()` would look something like this:

[code]

where `isDeepEqu

[2022-06-21 08:29] BowlingX commented on #101
Hey :) thank you for the suggestion. I think that makes sense. Feel free to create a PR :).

There might be some edge cases though (like what todo when all fields are equal and we do not have any changeset).

[2022-07-10 00:49] #88 closed